@use '../../styles/variables.scss';

.homeArticleContainer {
  width: 200px;
  padding: 10px;
  display: inline-block;
  font-family: variables.$article-font;
  font-size: variables.$font-size1;
  line-height: variables.$line-height1;
  margin-bottom: 16px;
}

.meta {
  font-family: variables.$article-font;
  font-size: variables.$font-size2;
  line-height: variables.$line-height2;
  color: variables.$meta-red;
}

.title {
  font-family: variables.$title-font;
  font-size: variables.$font-size3;
  line-height: variables.$line-height3;
  color: variables.$black;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.image {
  width: 100%;
}

.standfirst {
  margin-top: 10px;
  font-size: variables.$font-size2;
  line-height: variables.$line-height2;
  color: variables.$grey;
}