@use "variables.scss";

.article-page-container {
  &__title {
      font-size: 38px;
    font-family: variables.$title-font;
    color: variables.$grey3;
    font-weight: bold;
    line-height: 48px;
    max-width: 70%;
    margin: 2%;
    margin-left: 5%;
  }

  &__imageContainer {
    margin-top: 2%;
  
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__body {
    margin: 2%;
    margin-left: 5%;
    max-width: 80%;
    font-family: variables.$article-font;
    font-size: variables.$font-size3;
    color: variables.$grey;
  
    a {
      text-decoration-line: underline;
      color: #0d7680;
      text-decoration-thickness: .25ex;
    }
  }
}
