@use '../styles/variables.scss';

.errorContainer {
  margin: 30px;
  font: variables.$article-font;
}

.errorTitle {
  color: variables.$meta-red;
}

.errorMessage {
  color: variables.$grey3;
}

.link {
  color: variables.$meta-red;
  &:hover {
    opacity: 0.4;
  }
}