@use "./styles/variables.scss";

.container {
  height: 70px;
  padding: 20px 10px;
  border-bottom: 1px solid variables.$grey2;
  font-family: variables.$article-font;
  // text-align: center;
}

.searchContainer {
  float: left;
  margin-left: 5%;
  position: relative;
}

.logoContainer {
  display: flex;
  justify-content: center;

  img {
    width: 350px;
    margin-left: -175px;

    @media screen and (max-width: variables.$bpTablet) {
      margin-left: 0;
    }
  }
}
