@use "./variables.scss";

.container {
  height: 70px;
  padding: 20px 10px;
  border-bottom: 1px solid variables.$grey2;
  font-family: variables.$article-font;
}

.searchContainer {
  float: left;
  margin-left: 76px;
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.logo {
  width: 350px;
  margin-right: 50px;
}