.homeArticleContainer {
  width: 200px;
  padding: 10px;
  display: inline-block;
  font-family: MetricWeb,sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 16px;

}
.meta {
  font-family: MetricWeb,sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #990f3d;
}
.title {
  font-family: FinancierDisplayWeb,serif;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.image {
  width: 100%;
}

.standfirst {
  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #66605c;
}