@use "./styles/variables.scss";

.home-page-article-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;

  @media screen and (max-width: variables.$bpTabletSm) {
    padding-left: 20px;
    display: block;
  }
}