@use './styles/variables.scss';

.home-article-container {
  width: 200px;
  padding: 10px;
  display: inline-block;
  font-family: variables.$article-font;
  font-size: variables.$font-size1;
  line-height: variables.$line-height1;
  margin-bottom: 16px;
  
  &__meta {
    font-family: variables.$article-font;
    font-size: variables.$font-size2;
    line-height: variables.$line-height2;
    color: variables.$meta-red; 
    margin: 5px 0 5px 0;
  }
  
  &__title {
    font-family: variables.$title-font;
    font-size: variables.$font-size3;
    line-height: variables.$line-height3;
    color: variables.$grey3;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    margin: 5px 0 8px 0;
  }
  
  &__image {
    width: 100%;
  }
  
  &__standfirst {
    font-size: variables.$font-size2;
    line-height: variables.$line-height2;
    color: variables.$grey;
  }
}
