@use "./styles/variables.scss";

.search {
  border: none;
  border-bottom: 1px solid variables.$grey2;
  background-color: transparent;
  font-family: variables.$article-font;
  color: variables.$grey;
  padding: 5px;
  width: 200px;

  &:focus {
    outline: none;
    border-bottom: 1px solid variables.$meta-red;
  }
}
