@use "./styles/variables.scss";

.suggestions-container {
  position: absolute;
  top: 30px;
  right: -100px;
  border: 1px solid variables.$grey;
  border-bottom: none;
  background-color: variables.$grey2;

  &__suggestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid variables.$grey;
  }
  
  &__image-wrapper {
    max-width: 80px;
    
    img {
      width: 100%;
    }

    @media screen and (max-width: variables.$bpTabletSm) {
      display: none;
    }
  }
  
  
  &__title {
    font-size: variables.$font-size1;
    font-family: variables.$article-font;
    text-align: left;
    color: variables.$black;

    @media screen and (max-width: variables.$bpTabletSm) {
      font-size: variables.$font-size2;
    }
  }
}

