@use "./styles/variables.scss";

.search {
  border: none;
  border-bottom: 1px solid variables.$grey2;
  background-color: transparent;
  font-family: variables.$article-font;
  color: variables.$grey;
  padding: 5px;
  width: 200px;

  &:focus {
    outline: none;
    border-bottom: 1px solid variables.$meta-red;
  }

  @media screen and (max-width: variables.$bpTablet) {
    width: 150px;
    margin-right: 10px;
  }

  @media screen and (max-width: variables.$bpMobile) {
    width: 80px;
    margin-right: 10px;
  }
}
