$meta-red: #990f3d;
$grey: #66605c;
$black: #000;

$article-font: MetricWeb,sans-serif;
$title-font: FinancierDisplayWeb,serif;
$font-size1: 14px;
$font-size2: 16px;
$font-size3: 20px;

$line-height1: 16px;
$line-height2: 20px;
$line-height3: 24px;